.main {
    margin: 0px;
    padding: 5px;
    background-color: lightgray;
  }
  .signal {
    margin: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: gray;
  }
  .driveritem {
    margin: 2px !important;
  }
  .catitem {
    margin: 3px !important;
  }
  .proditem {
    margin: 1px !important;
    height: 100px;
  }
  .imgitem {
    width: 200px;
    height: 200px;
  }
  .containeritem {
    text-align: center;
  }
  .searchbox {
    width: 700px;
    margin: 15px !important;
    margin-left: 25px !important;
  }
  .submenu {
    display: flex;
    align-items: center;
  }
  .carting {
    font-size: 50px !important;
    color: blue;
    padding-left: 50px;
  }
  .cartingadd {
    font-size: 30px !important;
    color: blue;
    padding-right: 10px;
  }
  .cartingadd:active {
    color: greenyellow;
  }